body {
  margin: 0;
  padding: 0;
  background-color: rgb(87, 73, 91);
}

@font-face {
  font-family: 'YurukaStd';
  src: local('YurukaStd'), url(./fonts/YurukaStd.woff2) format('woff2');
}

@font-face {
  font-family: 'SSFangTangTi';
  src: local('SSFangTangTi'), url(./fonts/ShangShouFangTangTi.woff2) format('woff2');
}

@font-face {
  font-family: 'JingNanBoBoHei';
  src: local('JingNanBoBoHei'), url(./fonts/JingNanBoBoHei.ttf) format('truetype');
  font-display: block;
}